h1{
    font-family: 'Underdog', cursive;
    font-size: 54px;
    text-align: center;
    margin-top: 1.5%;
}

nav{
    font-family: 'Underdog', cursive;
    text-align: center;
}

ul {
    list-style-type:none;
}

ul li {
    display:inline-block;
    margin-right: 1px;
}

ul li a {
    display:block;
    padding: 0px 10px 0px 10px;
    min-width:140px;
    height: 50px;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background: #6495ED;
    text-decoration: none;
    border-radius: 5% ;
}

ul li:hover a {
    background: #409099;
}

.show-menu {
    text-decoration: none;
    color: #fff;
    background: #6495ED;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    display: none;
}

input[type=checkbox]{
    display: none;
    -webkit-appearance: none;
}

input[type=checkbox]:checked ~ #menu{
    display: block;
}
button{
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    text-align: center;
    position: relative;
left: 50%;
transform: translate(-50%, 0);
}
.content, .result{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 1%;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    text-align: center;
    align-items: center;
}

.content *{
    margin: 2%;
}


.content img{
    width: 20%;
    height: 20%;
    border-radius: 20% ;
    border: 6px outset #891616;
}

#phrase{
    padding: 2%;
    border-radius: 10% ;
    border: 15px dotted #6495ED;
}

marquee{
    width: 70%;
    margin-left: 15%;
    line-height: 150%;
    background-color: #6495ED;
    color: white;
    font-family: 'Underdog', cursive;
    font-size: 25px;
}

marquee:last-of-type{
    height: auto;
    width: 30%;
    margin-left: 35%;
    background-color: white;
}

marquee> img{
    width: 95%;
    height: auto;
    border-radius: 20% ;
    border: 6px outset #155678;
}

footer{
    margin-top: 3%;
}

table{
    margin: auto;
    text-align: left;
    border-spacing: 5rem 0.5rem;
}

table  td{
    /*padding: 0.2% 1.5% 0 1.5%;*/
    border-radius: 5% ;
    background: #6495ED;
}

table a{
    padding: 1px 15px;
    text-decoration: none;
    font-family: 'Underdog', cursive;
    font-size: 25px;
    color: #fff;
}

table td:hover{
    background: #409099;
}

@media screen and (max-width : 760px){
    body{
        font-size: 20px;
    }
    ul {
        position: static;
        display: none;
    }
    li {
        margin-bottom: 1px;
    }
    ul li a{
        font-size: 20px;
    }

    ul li, li a {
        width: 100%;
    }
    .show-menu {
        display:block;
        width: 10%;
    }

    marquee {
        display: none;
    }

    td {
        display: table-row;
    }
}
