h1{
    font-family: 'Underdog', cursive;
    font-size: 54px;
    text-align: center;
    margin-top: 1.5%;
}

nav{
    font-family: 'Underdog', cursive;
    text-align: center;
}

ul {
    list-style-type:none;
}

ul li {
    display:inline-block;
    margin-right: 1px;
}

ul li a {
    display:block;
    padding: 0px 10px 0px 10px;
    min-width:140px;
    height: 50px;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background: #6495ED;
    text-decoration: none;
    border-radius: 5% ;
}

ul li:hover a {
    background: #409099;
}

.show-menu {
    text-decoration: none;
    color: #fff;
    background: #6495ED;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    display: none;
}

input[type=checkbox]{
    display: none;
    -webkit-appearance: none;
}

input[type=checkbox]:checked ~ #menu{
    display: block;
}

.content{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 1%;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    text-align: center;
    align-items: center;
}

.content *{
    margin: 2%;
}


.content img{
    width: 20%;
    height: 20%;
    border-radius: 20% ;
    border: 6px outset #891616;
}

.phrase{
    padding: 2%;
    border-radius: 10% ;
}

.phrase:nth-child(4n+2), .phrase:nth-child(4n+3){
    border: 15px dotted #bb2626;
}

.phrase:nth-child(4n+1), .phrase:nth-child(4n){
    border: 15px dotted #6495ED;
}



@media screen and (max-width : 760px){
    body{
        font-size: 20px;
    }
    ul {
        position: static;
        display: none;
    }
    li {
        margin-bottom: 1px;
    }
    ul li a{
        font-size: 20px;
    }

    ul li, li a {
        width: 100%;
    }
    .show-menu {
        display:block;
        width: 10%;
    }
}
